body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #efefefff;
  }
  
  #nav_menu {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 20px 0;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 11%;
    align-items: center;
  }
  
  #nav_menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 30px;
  }
  
  #nav_menu a:hover {
    text-decoration: underline;
  }
  .centered_title {
    text-align: center;
    margin-top: 15.5vh;
    margin-bottom: 0px;
    font-size: 40pt;
  }
  #landing_name {
    text-align: center;
    font-size: 30pt;
    margin-top: 10px;
  }
  
  #landing_content {
    display: flex;
    justify-content: center;
    gap: 4%;
    align-items: center;
    margin-top: 10px;
  }

  #qual_content {
    display: flex;
    justify-content: center;
    gap: 4%;
    align-items: center;
    margin-top: 10px;
  }

  #selfie {
    max-width: 400px;
    border-radius: 10px;
    border-width: 2pt;
    border-color: black;
    border-style: solid;
  }

  #bio {
    max-width: 700px;
    font-size: 20pt;
  }
  #bio .h3 {
    font-size: 30pt;
  }

  #github_link_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
    width: 100%;
    gap: 20px;
  }

  #github_link_container a {
    display: block;
    width: 30%;
    text-align: center;
    font-size:auto;
    background-color: black;
    padding: 30px 20px;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  #github_link_container a:hover {
    text-decoration: underline;
  }

  .gh_link_header {
    display: none;
  }
  
  #nexusmods {
    display: none !important; 
  }

#portfolio_content {
  width: 80%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

#port {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 20px;
}
.portfolio_item {
  text-align: justify;
  width: 100%;
  font-size: 20pt;
}
.port_header {
  text-align: center;
}

#icon_bar {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.qual_icon {
  width: 140px;

}

#qual_link_container a {
  display: block;
    text-align: center;
    font-size:auto;
    background-color: black;
    padding: 30px 20px;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}